#hospital_delay_time
  %h2= @hospital.name
  .clear
  = form_for([@hospital, @delay]) do |f|
    - if @delay.errors.any? 
      %ul.errors.failed
        - @delay.errors.full_messages.each do |msg|
          %li= msg
      .clear
    #current_waiting_time_container
      #current_waiting_time
        = f.label :minutes, 'Waiting Time'
        = f.text_field :minutes, :size => 3, :value => @hospital.delay
        = "minutes"
        .clear
    #update_waiting_time_container
      #update_waiting_time
        = f.submit :value => "Update"
        .clear
    .clear

  #last_updated
    = "Last updated #{@hospital.last_updated_at}"

#centered
  = link_to "Statistic", hospital_delays_path(@hospital)
