%h1
  New Treasure

%form.well.form-horizontal{:remote => true, :action => "/treasures", :method => "POST"}
  %fieldset
    = text_field_tag "treasure[name]", nil, :placeholder => "Name it"
    %br
    = text_area_tag "treasure[description]", nil, :placeholder => "Describe it"
    %br
    = text_field_tag "treasure[hyperlink]", nil, :placeholder => "Link?"
    %br
    = hidden_field_tag "treasure[lat]"
    = hidden_field_tag "treasure[lng]"
  %br
  .btn.save_form{:href => "/treasures/create"} Add