!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    = render "layouts/head"
    = stylesheet_link_tag 'mobile', :media => 'all'
  %body{ :class => "#{controller.controller_name}" }
    #container
      %header#header
        %ul#mobile_nav
          %li
            %a.scrollable{href: "#"}Home
          %li
            %a.scrollable{href: "#map"}Map
          %li
            %a.scrollable{href: "#events"}Events
          %li
            %a.scrollable{href: "#account"}My A/C

      #main.mobile{ :role => 'main' }
        = render "layouts/flashes"
        = yield

      %footer#footer
        = render "layouts/footer"

    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
